<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="index.css">
    <title>smart life</title>
</head>
<body>
    <div id="logo">
        <img src="./image/logo.png">
    </div>
    <table border="1" width="500px">
        <tr>
            <th rowspan="2">date</th>
            <th colspan="2">outside</th>
            <th colspan="2">inside</th>
        </tr>
        <tr>
            <th>Temp</th>
            <th>Hum</th>
            <th>Temp</th>
            <th>Hum</th>
        </tr>


    </table>
</body>
</html>